* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 16px "Montserrat", sans-serif;
  background-color: #000;
  color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background: rgb(100, 100, 100)
  }